# CSV介绍及读取CSV

能够手动创建 DataFrame 或 Series 非常方便。但是，大多数时候，我们实际上并不是手工创建我们自己的数据。相反，我们将使用已经存在的数据。

数据可以以多种不同的形式和格式存储。到目前为止，其中最基本的是 CSV 文件。当你打开一个 CSV 文件，你会看到这样的东西:

Product A,Product B,Product C,
30,21,9,
35,34,1,
41,11,11

所以一个 CSV 文件是一个由逗号分隔的值表，因此它的名字是“逗号分隔值”，或者 CSV。

现在，让我们把数据集放在一边，看看将它读入 DataFrame 时，真正的数据集是什么样子的。我们将使用 pd.read _ csv ()函数将数据读入 DataFrame:

In [1]:
import pandas as pd
wine_reviews = pd.read_csv("C://Users//qiao//Downloads//submit_result.csv",index_col=0)

在这里，我们通过"index_col = 0"来去掉不必要的索引;我们可以使用shape函数来查看读入的csv文件有几行几列

In [2]:
wine_reviews.shape

(11424, 34)

由shape函数得知该表格共有11424行，34列，我们接下来看看该表格的头五行和尾五行

使用head函数和tail函数来查看前5行、末5行

In [3]:
wine_reviews.head()

,上部温度1,上部温度2,上部温度3,上部温度4,上部温度5,上部温度6,上部温度7,上部温度8,上部温度9,上部温度10,...,下部温度8,下部温度9,下部温度10,下部温度11,下部温度12,下部温度13,下部温度14,下部温度15,下部温度16,下部温度17
序号,,,,,,,,,,,,,,,,,,,,,
1,299.718360,366.500427,443.564463,520.588520,575.107407,657.685432,734.073158,837.000503,836.992058,836.992509,...,836.987561,826.651661,837.001688,836.973254,836.987646,836.984995,837.014752,836.989262,837.388292,749.974553
2,304.346405,373.119891,448.033343,520.963782,575.840164,658.441574,734.778881,837.036314,836.991788,836.997258,...,837.037068,836.860990,837.004078,836.996945,836.978739,837.017583,836.996405,836.985994,837.054367,750.047734
3,305.599822,373.356982,446.307020,520.318549,575.478573,658.738011,735.060662,837.039977,837.009962,836.993982,...,836.990481,837.011626,836.999128,837.003873,837.000021,836.995137,836.990254,837.004073,837.127619,750.010020
4,304.491133,373.152765,447.978744,520.833906,575.997509,658.406977,734.846715,837.048583,837.002248,837.007421,...,837.037048,830.182047,837.007092,836.996802,837.009205,837.009207,837.006841,836.980559,837.100721,750.103786
5,306.177844,375.157343,445.796539,520.340213,576.094269,658.547814,735.054012,836.999696,836.998950,837.001690,...,836.966697,841.726201,837.000370,836.990092,837.005748,836.973336,836.992358,836.969749,837.077813,750.010343

In [4]:
wine_reviews.tail()

,上部温度1,上部温度2,上部温度3,上部温度4,上部温度5,上部温度6,上部温度7,上部温度8,上部温度9,上部温度10,...,下部温度8,下部温度9,下部温度10,下部温度11,下部温度12,下部温度13,下部温度14,下部温度15,下部温度16,下部温度17
序号,,,,,,,,,,,,,,,,,,,,,
11420,267.660836,341.637912,421.147376,503.555619,567.395584,638.311144,713.449409,789.231959,787.776989,787.536501,...,789.105591,619.929580,787.570527,791.869838,790.888598,787.413051,780.328727,765.160938,713.202510,634.862325
11421,268.985784,341.460451,420.270750,504.477544,566.244881,642.360081,713.256490,789.296986,787.704975,787.547634,...,789.092031,772.792849,787.548251,792.078790,790.737499,787.660023,780.438238,764.846056,712.703782,634.117198
11422,268.187569,342.027558,418.512886,506.975244,567.223651,641.656368,713.829987,789.275871,787.599543,787.404667,...,789.121659,780.271304,787.356966,791.941190,790.722414,787.573644,780.264086,764.749560,712.956878,635.027758
11423,267.611923,342.614686,419.576709,504.011550,566.335652,642.739453,713.302542,789.208577,787.716538,787.466510,...,789.089384,765.784247,787.381125,791.997867,790.790275,787.397333,780.329093,764.698197,712.976412,634.997220
11424,268.477168,342.330290,419.160543,504.508342,568.206377,642.150697,713.618801,789.060602,787.714911,787.424552,...,789.124140,763.301228,787.371317,791.952300,790.742289,787.461375,780.429081,764.711263,712.936780,634.887393

In [5]:
wine_reviews

,上部温度1,上部温度2,上部温度3,上部温度4,上部温度5,上部温度6,上部温度7,上部温度8,上部温度9,上部温度10,...,下部温度8,下部温度9,下部温度10,下部温度11,下部温度12,下部温度13,下部温度14,下部温度15,下部温度16,下部温度17
序号,,,,,,,,,,,,,,,,,,,,,
1,299.718360,366.500427,443.564463,520.588520,575.107407,657.685432,734.073158,837.000503,836.992058,836.992509,...,836.987561,826.651661,837.001688,836.973254,836.987646,836.984995,837.014752,836.989262,837.388292,749.974553
2,304.346405,373.119891,448.033343,520.963782,575.840164,658.441574,734.778881,837.036314,836.991788,836.997258,...,837.037068,836.860990,837.004078,836.996945,836.978739,837.017583,836.996405,836.985994,837.054367,750.047734
3,305.599822,373.356982,446.307020,520.318549,575.478573,658.738011,735.060662,837.039977,837.009962,836.993982,...,836.990481,837.011626,836.999128,837.003873,837.000021,836.995137,836.990254,837.004073,837.127619,750.010020
4,304.491133,373.152765,447.978744,520.833906,575.997509,658.406977,734.846715,837.048583,837.002248,837.007421,...,837.037048,830.182047,837.007092,836.996802,837.009205,837.009207,837.006841,836.980559,837.100721,750.103786
5,306.177844,375.157343,445.796539,520.340213,576.094269,658.547814,735.054012,836.999696,836.998950,837.001690,...,836.966697,841.726201,837.000370,836.990092,837.005748,836.973336,836.992358,836.969749,837.077813,750.010343
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11420,267.660836,341.637912,421.147376,503.555619,567.395584,638.311144,713.449409,789.231959,787.776989,787.536501,...,789.105591,619.929580,787.570527,791.869838,790.888598,787.413051,780.328727,765.160938,713.202510,634.862325
11421,268.985784,341.460451,420.270750,504.477544,566.244881,642.360081,713.256490,789.296986,787.704975,787.547634,...,789.092031,772.792849,787.548251,792.078790,790.737499,787.660023,780.438238,764.846056,712.703782,634.117198
11422,268.187569,342.027558,418.512886,506.975244,567.223651,641.656368,713.829987,789.275871,787.599543,787.404667,...,789.121659,780.271304,787.356966,791.941190,790.722414,787.573644,780.264086,764.749560,712.956878,635.027758
11423,267.611923,342.614686,419.576709,504.011550,566.335652,642.739453,713.302542,789.208577,787.716538,787.466510,...,789.089384,765.784247,787.381125,791.997867,790.790275,787.397333,780.329093,764.698197,712.976412,634.997220
11424,268.477168,342.330290,419.160543,504.508342,568.206377,642.150697,713.618801,789.060602,787.714911,787.424552,...,789.124140,763.301228,787.371317,791.952300,790.742289,787.461375,780.429081,764.711263,712.936780,634.887393

索引查找某具体的一列

In [6]:
wine_reviews['上部温度6']

序号
1        657.685432
2        658.441574
3        658.738011
4        658.406977
5        658.547814
            ...
11420    638.311144
11421    642.360081
11422    641.656368
11423    642.739453
11424    642.150697
Name: 上部温度6, Length: 11424, dtype: float64

我们完全可以把DataFrame当作一个二维数组来进行查找,例如查找第六列第356行的值：

In [7]:
wine_reviews['上部温度6'][356]

659.90875814946

接下来介绍行索引：iloc函数

In [8]:
wine_reviews.iloc[0]

上部温度1     299.718360
上部温度2     366.500427
上部温度3     443.564463
上部温度4     520.588520
上部温度5     575.107407
上部温度6     657.685432
上部温度7     734.073158
上部温度8     837.000503
上部温度9     836.992058
上部温度10    836.992509
上部温度11    837.007497
上部温度12    837.010467
上部温度13    836.967673
上部温度14    836.937924
上部温度15    837.049943
上部温度16    837.193445
上部温度17    749.940282
下部温度1     226.790788
下部温度2     307.358884
下部温度3     399.830007
下部温度4     499.915541
下部温度5     526.906218
下部温度6     605.037952
下部温度7     720.001452
下部温度8     836.987561
下部温度9     826.651661
下部温度10    837.001688
下部温度11    836.973254
下部温度12    836.987646
下部温度13    836.984995
下部温度14    837.014752
下部温度15    836.989262
下部温度16    837.388292
下部温度17    749.974553
Name: 1, dtype: float64

使用分片来进行索引。例如查看所有行的第0列数据：

In [9]:
wine_reviews.iloc[:,0]

序号
1        299.718360
2        304.346405
3        305.599822
4        304.491133
5        306.177844
            ...
11420    267.660836
11421    268.985784
11422    268.187569
11423    267.611923
11424    268.477168
Name: 上部温度1, Length: 11424, dtype: float64

查看前3行的第一列

In [10]:
wine_reviews.iloc[:3, 0]

序号
1    299.718360
2    304.346405
3    305.599822
Name: 上部温度1, dtype: float64

还有另外几种表示方法：

In [11]:
wine_reviews.iloc[[0, 1, 2], 0]

序号
1    299.718360
2    304.346405
3    305.599822
Name: 上部温度1, dtype: float64

In [12]:
wine_reviews.loc[1,'上部温度2']#注意这里不能使用iloc函数

366.5004272106091

iloc 在概念上比 loc 简单，因为它忽略了数据集的索引。当我们使用 iloc 时，我们把数据集看作一个大矩阵(列表列表) ，我们必须按位置索引它。相比之下，loc 使用索引中的信息来完成它的工作。因为数据集通常具有有意义的索引，所以使用 loc 代替它通常更容易。